.map-container {
    width: 100%;
    height: 400px;
    margin: 0 auto 40px;
    border: 2px solid #1b263b;
}

/* Medium Devices */
@media (max-width: 1199px) {
    .map-container {
        width: 100%;
        height: 300px;
    }
}

/* Small Devices */
@media (max-width: 767px) {
    .map-container {
        height: 200px;
    }
}
